@model SMMC.Models.EnrollmentMusicClass

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>EnrollmentMusicClass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enrollment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enrollment.EnrollmentId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MusicClass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MusicClass.MusicClassId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
