@model IEnumerable<SMMC.Models.Instrument>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Instrument
            </th>
            <th>
                Student Fee
            </th>
            <th>
                Open Fee
            </th>
            <th>
                Hire Fee
            </th>
            <th>
                Head Tutor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Instrument1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadTutorNavigation.Staff.Person.FirstName)
                @Html.DisplayFor(modelItem => item.HeadTutorNavigation.Staff.Person.LastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InstrumentId">Edit</a>                 
                <a asp-action="Delete" asp-route-id="@item.InstrumentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
