@model IEnumerable<SMMC.Models.Repairs>

@{
    ViewData["Title"] = "Index";
}

<h2>Complete Repairs</h2>

@Html.ActionLink("View Incompleted", "Index")


<table class="table">
    <thead>
        <tr>
            <th>
                Instrument
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technician)
            </th>
            <th>
                Date Started
            </th>
            <th>
                Date Completed
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            if (@item.RepairEnd != null)
            {
                <tr>
                    <td>
                        ID: @item.InstrumentInventory.InstrumentId (@item.InstrumentInventory.Instrument.Instrument1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Technician.Staff.Person.FirstName)
                        @Html.DisplayFor(modelItem => item.Technician.Staff.Person.LastName)
                    </td>
                    <td>
                        @item.RepairStart.ToShortDateString()
                    </td>
                    <td>
                        @item.RepairEnd
                    </td>

                </tr>
            }
        }
    </tbody>
</table>


