@model SMMC.Models.Repairs

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Repairs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RepairEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RepairEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InstrumentInventory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InstrumentInventory.Manufacturer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Technician)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Technician.TechnicianId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="InstrumentInventoryId" />
        <input type="hidden" asp-for="TechnicianId" />
        <input type="hidden" asp-for="RepairStart" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
